.edit-panel-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-panel {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  background: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.close-btn {
  position: relative;
  width: 40px;
  font-size: 15px;
  font-weight: 600;
  left: 360px;
  border-radius: 5px;
  background: rgb(218, 49, 49);
  color: #fff;
}

.phone-ext {
  width: 30px;
  margin-right: 5px;
}

.save-btn {
  margin-top: 50px;
  width: 100px;
  background: rgb(111, 187, 111);
  align-self: center;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}
